{% extends 'base.html.twig' %}

{% block title %}Treatment index{% endblock %}

{% block body %}
    <h1>Treatment index</h1>

    <form method="get">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" value="{{ app.request.query.get('name') }}" class="form-control">
        </div>

        <div class="form-group">
            <label for="instructions">Instructions</label>
            <input type="text" id="instructions" name="instructions" value="{{ app.request.query.get('instructions') }}" class="form-control">
        </div>
        <div class="form-group">
            <input type="number" name="itemsPerPage" placeholder="Items per page" value="{{ app.request.get('itemsPerPage') ?? 10 }}" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <table class="table mt-4">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Instructions</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for treatment in pagination %}
            <tr>
                <td>{{ treatment.id }}</td>
                <td>{{ treatment.name }}</td>
                <td>{{ treatment.instructions }}</td>
                <td>
                    <a href="{{ path('app_treatment_show', {'id': treatment.id}) }}">show</a>
                    <a href="{{ path('app_treatment_edit', {'id': treatment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_treatment_new') }}" class="btn btn-success mt-3">Create new</a>
{% endblock %}
